body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eef2f5;
    color: #333333;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    background-color: white;
    border-bottom: 3px solid #4a6fa5;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    height: 55px;
}

.logo{
    height: 55px;
    display: block;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
}

header nav a{
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

.conteudo-principal{
    padding: 40px;
    max-width: 1400px;
    margin: 0 auto;
}

.conteudo-principal h2{
    text-align: left;
    color: #162447;
    margin-bottom: 20px;
    font-size: 24px;
    border-left: 5px solid #4a6fa5;
    padding-left: 15px;
}

.kanban-divisao{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
}

.kanban-coluna{
    background-color: white;
    border-radius: 12px;
    flex: 1;
    width: 320px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    
}

.coluna-fazer{
    border-top: 4px solid #f1c40f;
}

.coluna-fazendo{
    border-top: 4px solid #4a6fa5;
}

.coluna-feito{
    border-top: 4px solid #2ecc71
}

.coluna-cabecalho{
    margin-bottom: 20px;
    border-bottom: 1px solid #dadce0;
    padding-bottom: 10px;
}

.coluna-cabecalho h3{
    font-size: 16px;
    font-weight: bold;
    color: #444;
}

.area-input{
    background-color: #fafafa;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #eee;
    margin-bottom: 20px;
}

.area-input input, .area-input select{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border: 1px solid #dadce0;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease;
}

.area-input input:focus{
    border-color: #4a90e2;
}

.linha-opcoes{
    display: flex;
    gap: 10px;
}

.bt-adicionar{
    width: 100%;
    padding: 10px;
    background-color: #4a6fa5;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.bt-adicionar:hover{
    background-color: #162447;
}

.kanban-card{
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    word-wrap: break-word;
    border: 1px solid #f0f0f0;

    
}

.kanban-card h3{
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.kanban-card p{
    font-size: 14px;
    color: #666;
    gap: 5px;
    display: flex;
    align-items: center;
}

.coluna-fazer .kanban-card{
    border-left: 6px solid #f5a623;
}

.coluna-fazendo .kanban-card{
    border-left: 6px solid #4a90e2;
}

.coluna-feito .kanban-card{
    border-left: 6px solid #4caf50;
}

.lista-tarefas{
    padding-right: 5px;
    margin-top: 15px;
    min-height: 100px;
}

.prioridade-baixa h3{
    color: green;
    font-weight: bold;
}

.prioridade-media h3{
    color: orange;
    font-weight: bold;
}

.prioridade-alta h3{
    color: red;
    font-weight: bold;
}

.bt-remover{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ff6b6b;
    transition: color 0.3s, transform 0.3s;
    margin-top: 8px;
    background-color: #f2f2f2;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    padding: 0 5px;
    border: none;
}

.bt-remover:hover{
    color: red;
    
}

.bt-editar{
    position: absolute;
    top: 10px;
    right: 40px;
    color: #4a6fa5;
    margin-top: 8px;
    background-color: #f2f2f2;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    padding: 0 5px;
    border: none;
}

#open-modal{
    background-color: #4a6fa5; 
}

#fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

#modal{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 500px;
    max-width: 90%;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 10;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.modal-header h2{
    margin: 0;
    text-align: center;
    color: #4a6fa5;
    font-size: 20px;
}

.modal-body{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-body input, .modal-body select{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 5px;
    font-size: 14px;
    background-color: white;
}

.modal-botao{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
    border-top: 1px solid #eee;
    padding-top: 15px;
}

.salvar-edicao{
    padding: 10px 20px;
    background-color: #4a6fa5;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

#fechar-modal{
    padding: 10px 20px;
    background-color: #ccc;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.hide{
    display: none !important;
}

.imagem-fundo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.centralizado{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-perfil{
    background-color: rgb(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 600px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.avatar-area{
    text-align: center;
    margin-bottom: 20px;
}

.avatar-area img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid #4a6fa5;
}

.card-perfil input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.bt-salvar-perfil{
    padding: 10px 20px;
    background-color: #4a6fa5;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    transition: background-color 0.6s ease;
}

.bt-salvar-perfil:hover{
    background-color: #162447;
}

.container-config{
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    max-width: 800px;
    margin: 0 auto;
}

.item-conf{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

.bt-modoEscuro{
    background-color: #ccc;
    color: gray;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}



